.list-icon {
    float: left;
    height: 35px;
    margin-top: 2px;
    max-width: 35px;
    width: 35px;
}
.container-zone {
	width:100%;
	display:inline-block;
}
.icons-zone {
    background-image: url("../img/icon-zone.png");
    background-repeat: no-repeat;
	background-size: 20px 20px;
    height: 20px;
    width: 20px;
	margin: 13px 0 0 7px;
}
.icons-cuisine {
    background-image: url("../img/icon-food-type.png");
    background-repeat: no-repeat;
	background-size: 20px 20px;
    height: 20px;
    width: 20px;
	margin: 13px 0 0 7px;
}
.icons-price {
    background-image: url("../img/icon-price.png");
    background-repeat: no-repeat;
	background-size: 20px 20px;
    height: 20px;
    width: 20px;
	margin: 13px 0 0 0;
}
.icons-zone-text {
	color: #858585;
    float: left;
	font-size: 13px;
	margin: 13px 0 0 0;
    padding: 2px 5px 0 5px;
    width: 80%;
}
.icons-cuisine-text {
	color: #858585;
    float: left;
    font-size: 13px;
    height: 25px;
    line-height: 100%;
    margin: 16px 0 0;
    padding: 2px 5px 0;
    text-align: left;
    width: 60%;
}
.icons-price-text {
	color: #858585;
    float: left;
	font-size: 13px;
	margin: 13px 0 0 0;
    padding: 2px 5px 0 5px;
    width: 10%;
	text-align: left;
}
.special-offer-text-menu {
	color: #7e7e7e;
    float: left;
	font-size: 12px;
	font-weight: 600;
	text-align: left;
	margin: 14px 0 0 0;
    padding: 7px 0 0 10px;
    width: 50%;
	height: 44px;
}
.special-offer-text {
	color: #7e7e7e;
    float: left;
	font-size: 12px;
	font-weight: 600;
	margin: 20px 0 0 0;
    padding: 7px 0 0 10px;
    width: 50%;
	height: 40px;
}
.special-offer-highlight {
	color: #ffffff;
	float: right;
	font-size: 16px;
	font-weight: 600;
	background: #d30000;
	-webkit-border-radius:3px 3px;
	-moz-border-radius:3px / 3px;
	border-radius:3px / 3px;
	margin: 20px 7px 0 0;
    padding: 7px 10px;
}
.special-offer-button {
	color: #ffffff;
	float: right;
	font-size: 16px;
	font-weight: 600;
	background: #d30000;
	border: none;
	-webkit-border-radius:3px 3px;
	-moz-border-radius:3px / 3px;
	border-radius:3px / 3px;
	margin: 20px 7px 0 0;
    padding: 7px 10px;
}
div.name {
    color: #3d3d3d;
    font-family: Open Sans,sans-serif;
    font-size: 19px;
	text-align: left;
    font-weight: 600;
    line-height: 100%;
	margin: 0 5px 5px 7px;
	height: 35px;
}
div.name span{
    font-size: 70%!important;
    line-height: 100%;
}
div.resto {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
}	
.restaurant-photo {
	margin: 0 0 10px 0;
}
.container-button{
	width:100%;
	position: relative;
	margin: 25px 0 5px 0;
	float: left;
	text-align: center;
}
button.reservar {
	background:#1A1F71;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fee594), color-stop(100%, #fed44f));
	background-image:-webkit-linear-gradient(#122C94, #1A1F71);
	background-image:-moz-linear-gradient(#122C94, #1A1F71);
	background-image:-o-linear-gradient(#122C94, #1A1F71);
	background-image:linear-gradient(#122C94, #1A1F71);
	color:#ffffff!important;
	/*
	color: #fff!important;
	background:#C30000!important;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #C30000), color-stop(100%, #930000))!important;
	background-image:-webkit-linear-gradient(#C30000, #930000)!important;
	background-image:-moz-linear-gradient(#C30000, #930000)!important;
	background-image:-o-linear-gradient(#C30000, #930000)!important;
	background-image:linear-gradient(#C30000, #930000)!important;
	*/
	border:none;
    padding: 15px 0px;
	text-align:center;
	width: 96%;
	font-family: Open Sans,sans-serif;
	font-size:16px;
	font-weight: 600;
	z-index:2;
	-webkit-border-radius:3px 3px;
	-moz-border-radius:3px / 3px;
	border-radius:3px / 3px;
	text-decoration: none!important;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
button.ver-menu {
    color: #fff!important;
	background:#C30000!important;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #C30000), color-stop(100%, #930000))!important;
	background-image:-webkit-linear-gradient(#C30000, #930000)!important;
	background-image:-moz-linear-gradient(#C30000, #930000)!important;
	background-image:-o-linear-gradient(#C30000, #930000)!important;
	background-image:linear-gradient(#C30000, #930000)!important;
	border:none;
    padding: 5px 0px;
	text-align:center;
	width: 96%;
	font-family: Open Sans,sans-serif;
	font-size:15px;
	font-weight: 600;
	z-index:2;
	-webkit-border-radius:3px 3px;
	-moz-border-radius:3px / 3px;
	border-radius:3px / 3px;
	text-decoration: none!important;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
h1.menu-restaurant {
    color: #d30000;
    font-family: Open Sans,sans-serif;
    font-size: 18px;
    font-weight: 600;
	text-align: left!important;
    line-height: 100%;
	margin: 0 0 20px 0;
}
h1.menu-restaurant span{
    font-size: 70%!important;
    line-height: 100%;
}
.menu-modal p {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
    font-size: 12px!important;
    line-height: 30px;
    color: #424242;
    text-align: left!important;
    margin-bottom: 10px;
	padding: 0!important;
}
.menu-modal span {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    color:  #950000;
    margin: 20px 0;
    padding: 0;
    text-align: left;
    /*border-top: dotted 1px #cccccc;
    border-bottom: dotted 1px #cccccc;*/
}
.modal-tag {
	float:left;
	color: #ffffff;
	background: #d30000;
	-webkit-border-radius:3px 3px;
	-moz-border-radius:3px / 3px;
	border-radius:3px / 3px;
	font-size: 10px;
    font-weight: 300;
    margin: 0;
    padding: 4px 10px;
}
.reminder {
    color: #3d3d3d;
    font-family: Open Sans,sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 140%;
    margin: 20px 0 0 0;
    text-align: center;
}
.terms {
	float: right;
}
.terms a, .terms a:visited {
	color: #d30000;
	text-decoration: underline;
}
.terms a:hover {
	color:#AB0000; 
}