/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {


		
		
}


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */
	
    @media only screen and (max-width: 767px) {
html, body {
	overflow-x: hidden;
}
h2 {
	font-size: 20px!important;
	line-height: 30px!important;
}
p.desc {
	font-size: 13px!important;
	line-height: 23px!important;
}
#section-event {
	/* The background image used in this template is 1980 by 650 pixels */
}
#section-event .container, #section-event .container .container {
	/*height: 470px;*/
	padding-top: 20px;
}
#section-event .sixteen.columns {
	height: 580px;
	text-align: center;
}
#section-event h1 {
	margin: 0px 0px 0px 0px;
	text-align: center;
	width: 98%;
}
#section-event h1 img {
	text-align: center;
}
#section-event img.header-banner {
}
#section-event h2 {
	margin-bottom: 30px;
}
#section-info #box-date, #section-info #box-time {
	margin-bottom: 30px;
}
#section-info #box-location {
	margin-bottom: 20px;
}	
#section-about div.text-about {
	margin-left: 0px;
}
#section-about .banner-promotion img {
    margin: 0;
}
#section-about p {
	font-size: 14px;
	line-height: 26px;
}
#section-about div.about-prices {
	font: normal 18px/34px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 10px 0 20px 0;
	width: 98%;
}
#section-about .banner-promotion img {
    margin: 0;
}
#section-fees {
	background: #222;
}
#section-fees h3 span.sub2 {
	font-size: 22px!important;
	line-height: 1!important;
}
#section-fees .item {
	height: 490px;
	width: 240px;
}
#section-fees .item span.date {
	font: 17px/26px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}
#section-fees .item p {
	color: #D5D5D5;
	font: 14px/18px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}
#section-map {
	height: 350px!important;
}
#section-news p {
	font-size: 13px;
	line-height: 24px;
}
#section-register label.placeholder {
	display: none;
}
#section-register .data {
	height: auto;
	width: auto;
}
/* Adjust footer social media menu */
#section-footer ul#social {
	float: none;
}
#section-footer ul#social li a {
	background: #111;
	border-right: 1px solid #000;
}
}
/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {

		
}