
html, body {
    background-color: #f2f2f2!important;
    height: 100%;
}
#wrapper {
    background: rgba(0, 0, 0, 0) url("../img/body_bg.jpg") repeat-y scroll 0 0;
    margin: 0 auto;
    overflow: visible;
    padding: 0 15px;
    width: 960px;
}
#wrapper_bottom {
    background: rgba(0, 0, 0, 0) url("../img/body_bg.jpg") repeat-y scroll 0 0;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 960px;
}
#header {
    background: rgba(0, 0, 0, 0) url("../img/header.jpg") no-repeat scroll 0 0;
    height: 105px;
    position: relative;
    width: 100%;
}
#nav_header {
    border-top: thin solid #bfbfbf;
    display: block;
    left: 190px;
    margin-left: -12px;
    padding-top: 15px;
    position: absolute;
    top: 40px;
    width: 760px;
}
#nav_header ul {
}
#nav_header li {
    display: inline-block;
    margin: 0 12px;
}
* html #nav_header li {
    display: inline;
}
* + html #nav_header li {
    display: inline;
}
#nav_header li a {
    display: block;
}
#display {
    background: rgba(0, 0, 0, 0) url("../img/display.jpg") no-repeat scroll 0 0;
    height: 318px;
    position: relative;
    width: 100%;
}
#container {
    background-color: #f1f1f1;
    padding: 20px 0;
    position: relative;
    width: 100%;
}
#sidebar {
    display: inline;
    float: left;
    margin-left: 20px;
    width: 290px;
}
#content {
    display: inline;
    float: right;
    margin-right: 20px;
    width: 605px;
}
#content_column1 {
    float: left;
    width: 290px;
}
* html #content_column1 {
    display: inline;
}
* + html #content_column1 {
    display: inline;
}
#content_column2 {
    float: right;
    margin-left: 25px;
    width: 290px;
}
* html #content_column2 {
    display: inline;
}
* + html #content_column2 {
    display: inline;
}
#acordeon_column1 {
    display: inline;
    float: left;
    width: 270px;
}
#acordeon_column2 {
    display: inline;
    float: right;
    width: 270px;
}
#informacion_estatica {
    display: inline;
    float: left;
    width: 370px;
}
#informacion_dinamica {
    display: inline;
    float: right;
    width: 170px;
}
#footer {
    background: #fafaf8 url("../img/footer_b.jpg") no-repeat scroll 0 0;
    clear: both;
    width: 100%;
}
#content_footer {
    margin: 0 20px;
    padding: 0;
}
#footer_column1, #footer_column2, #footer_column3 {
    display: inline;
    float: left;
    width: 290px;
}
#footer_column2, #footer_column3 {
    margin-left: 25px;
}
#info_fidelity {
    display: block;
    float: right;
    width: 100%;
}
